@font-face{
	font-family: 'Roboto';
	src:url('../fonts/Roboto-Regular.ttf');
}

@font-face{
	font-family: 'Yellowtail';
	src:url('../fonts/Yellowtail-Regular.ttf');
}
*
{
	font-family: 'Roboto',sans-serif;;
}
.nav-item
{
	margin-right: 50px;
}
.logo
{
	font-family: 'Yellowtail',cursive;
	font-weight: normal;
	font-size: 30px;
	letter-spacing: 10px;
}
.logo span {
	font-family: 'Yellowtail',cursive;
	font-size: 50px;
}
.language {
	cursor: pointer;
}
.infoBox {

<<<<<<< HEAD
=======
h1 {
	font-family: 'Roboto';
}

.happy {
    display: block;
    text-align: center;
    margin: 0 auto 20px auto;
    width: 125px;
    height: 125px;
    border: 2px solid #000;
    border-radius: 125px;
}

blockquote {
    position: relative;
    font-family: "Roboto";
    margin: 0;
    padding: 15px;
    position: relative;
    font-style: italic;
    color: #222222;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
>>>>>>> fbdded2fb5c0659c28e60237e758969250de1332
}