:root {
    --color: #e40046;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Yellowtail';
    src: url('../fonts/Yellowtail-Regular.ttf');
}

* {
    font-family: 'Roboto', sans-serif;
    ;
}

.nav-item {
    margin-right: 50px;
}

.logo {
    font-family: 'Yellowtail', cursive;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 10px;
}

.navbar-toggler {
    outline: none !important;
}

.logo span {
    font-family: 'Yellowtail', cursive;
    font-size: 50px;
}

.language {
    cursor: pointer;
}

h1 {
    font-family: 'Roboto';
}

.hovereffect {
    width: 350px;
    height: 200px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 350px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: -5%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hovereffect:hover .overlay {
    background-color: rgba(170, 170, 170, 0.4);
}

.hovereffect h2,
.hovereffect img {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hovereffect img {
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.hovereffect:hover img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 15px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
}

.hovereffect p.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: normal;
    height: 85%;
    width: 90%;
    position: absolute;
    top: -20%;
    left: 8%;
    padding: 70px;
}

.hovereffect:hover p.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.4);
    font-family: 'Roboto';
}

.infoBox div {
    float: right;
}

.happy {
    cursor: pointer;
    transition: box-shadow .3s;
    display: block;
    text-align: center;
    margin: 0 auto 20px auto;
    width: 125px;
    height: 125px;
    border: 2px solid rgba(23, 32, 42, .7);
    border-radius: 50%;
}

.happy:hover {
    box-shadow: 2px 3px 5px rgba(23, 32, 42, .7);
}

blockquote {
    position: relative;
    margin: 0;
    padding: 15px;
    font-style: italic;
    color: #222222;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
}

<<<<<<< HEAD blockquote i {
    color: #1d2124;
    font-size: 14px;
}

/*Image Transition Style Start*/
.topModelBox {
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: all .5s;
}

.topModelBox:hover {
    transform: scale(1.1);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .5);
}

.topModelBox:hover .overlayLeft {
    width: 100%;

}

.overlay {
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: #1b1e21;
}

.topModelBox:hover .overlay {
    opacity: .5;

}

.overlay .text {
    color: white;
    margin-top: 70%;
    /*position: absolute;*/
    /*transform: translate(-50%,-50%);*/
}

.overlayLeft {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
}

.topModelImg {
    cursor: pointer;
}

/*Image Transition Style End*/
.icons i {
    margin-right: 10px;
    cursor: pointer;
    transition: all 1s;
}

.icons i:hover {
    opacity: 0.8;
}

.fa-facebook-square {
    color: #1873eb;
}

.fa-twitter-square {
    color: #00a6eb;
}

.fa-instagram {
    color: #b82e77;
}

.fa-youtube {
    color: #cf2323;
}

.fa-pinterest {
    color: #b7081b;
}

.social h3,
.social span {
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.5s;
}

.social h3:hover,
.social span:hover {
    opacity: 1;
}

.social span {
    font-size: 16px;
}

.socialInfo .title {
    font-size: 20px;
    opacity: 0.9;
}

.stylishHeader {
    letter-spacing: 3px;
}

.socialInfo .description {
    opacity: 0.7;
    word-spacing: 3px;
    text-indent: 6rem;
}

=======

/*css for form design*/
input[type="radio"] {
    display: none
}

input[type="radio"]+label:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 6px;
    margin-right: 3px;
    background-clip: content-box;
    border: 2px solid #bbb;
    background-color: #e7e6e7;
    border-radius: 50%
}

input[type="radio"]:checked+label:before {
    background-color: #93e026
}

label {
    display: flex;
    align-items: center
}

.form_label {
    position: relative;
    font-weight: 500;
    margin-bottom: 3px;
    font-size: 16px;
    text-align: left;
    display: block;
    padding-left: 13px;
    color: #000;
}

.require {
    width: 4px;
    height: 4px;
    background: #c83e74;
    position: absolute;
    border-radius: 20px;
    margin-left: 2px;
}

/*end form design*/

/*start profile page*/

#profile_bd {
    background: #e9e9e9e;
    overflow-x: hidden;
    padding-top: 90px;
    font-family: "poppins", sans-serif;
    margin: 0 100px;
}

.profile-header {
    background: #fff;
    width: 100%;
    display: flex;
    height: 190px;
    position: relative;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .2);
}

.profile-img {
    float: left;
    width: 340px;
    height: 200px;
}

.profile-img img {
    border-radius: 50%;
    height: 230px;
    width: 230px;
    border: 4px solid #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    position: absolute;
    left: 50px;
    top: 20px;
    z-index: 5;
    background: #fff;
    object-fit: cover;
}

.profile-nav-info {
    float: left;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
}

.profile-nav-info h3 {
    font-variant: small-caps;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
}

.profile-nav-info .address {
    display: flex;
    font-weight: bold;
    color: #777;
}

.profile-nav-info .address p {
    margin-left: 5px;
}

.profile-nav-info .address span {
    margin-left: 20px;
}

.profile-option {
    width: 40px;
    height: 40px;
    background: var(--color);
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
    outline: none;
}

.profile-option .notification i {
    color: #fff;
    font-size: 1.2rem;
    transition: all .5s ease-in-out;
}

.profile-option:hover {
    background: #fff;
    border: 1px solid var(--color);
}

.profile-option:hover .notification i {
    color: var(--color);
}

.main-bd {
    width: 100%;
    display: flex;
    padding-right: 15px;
}

.profile-side {
    width: 300px;
    background: #fff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .2);
    padding: 90px 30px 20px;
    font-family: "Bree Serif", serif;
    margin-left: 10px;
    z-index: 99;
}

.profile-side p {
    margin-bottom: 7px;
    color: #333;
    font-size: 14px;
}

.profile-side p i {
    color: var(--color);
    margin-right: 10px;
}

.mobile-no i {
    transform: rotateY(180deg);
}

.profile-btn {
    display: flex;
}

button.chatbtn,
button.createbtn {
    border: 0;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    background: var(--color);
    font-family: "Beer Serif", sans-serif;
    font-size: 1rem;
    margin: 5px 2px;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    transition: background .3s ease-in-out;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, .3);
    color: #fff;
}

button.chatbtn:hover,
button.createbtn:hover {
    background: rgba(288, 0, 70, .9);
}

button.chatbtn i,
button.createbtn i {
    margin-right: 5px;
}

.user-rating {
    display: flex;
}

.user-rating h3 {
    font-size: 2.5rem;
    font-weight: 200;
    margin-right: 5px;
    letter-spacing: 1px;
    color: #666;
}

.user-rating .no-user {
    font-size: .9rem;
}

.rate {
    padding-top: 6px;
}

.rate i {
    font-size: .9rem;
    color: var(--color);
}

.nav_items {
    width: 100%;
    z-index: -1;
}

.nav_items ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: 40px;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}

.nav_items ul li {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    transition: all .2s ease-in-out;
}

.nav_items ul li.active,
.nav_items ul li:hover {
    box-shadow: 0px -3px 0px rgba(288, 0, 70, .9) inset;
}

.profile-body {
    width: 100%;
    z-index: -1;
}

.tab {
    padding: 20px;
    width: 100%;
    text-align: center;
    display: none;
}

#see-more,
#see-less {
    color: blue;
    cursor: pointer;
    text-transform: lowercase;
}

@media(max-width: 1100px) {
    .profile-side {
        width: 250px;
        padding: 90px 15px 20px;
    }

    .profile-img img {
        height: 200px;
        width: 200px;
        left: 50px;
        top: 50px;
    }
}

@media(max-width: 900px) {
    #profile_bd {
        margin: 0 20px;
    }

    .profile-header {
        display: flex;
        height: 100%;
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    }

    .profile-img {
        float: left;
        width: 100%;
        height: 200px;
    }

    .profile-img img {
        position: relative;
        left: 0;
    }

    .proflie-nav-info {
        text-align: center;
    }

    .proflie-nav-info .address {
        justify-content: center;
    }

    .profile-option {
        right: 20px;
        top: 75%;
        transform: translateY(50%);
    }

    .main-bd {
        flex-direction: column;
        padding-right: 0px;
    }

    .profile-side {
        width: 100%;
        text-align: center;
        padding: 20px;
        margin: 5px 0;
    }

    .user-rating {
        justify-content: center;
    }

    @media(max-width: 400px) {
        #profile_bd {
            margin: 5px;
        }

        .profile-header h3 {
            font-size: 1.7rem;
        }

        .profile-header p,
        .profile-header span {
            font-size: .9rem;
        }

        .profile-option {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 15px;
            top: 83%;
        }

        .profile-option .notification .alert-msg {
            top: -3px;
            right: -4px;
            padding: 4px;
            height: 15px;
            width: 15px;
            font-size: .7rem;
        }
    }
}

/*end profile page*/